<template>
  <div id="home">
    <ul>
      <li>
        <router-link to="/opening1"><button>Opening 1</button></router-link>
      </li>
      <li>
        <router-link to="/opening2"><button>Opening 2</button></router-link>
      </li>
      <li>
        <router-link to="/opening3"><button>Opening 3</button></router-link>
      </li>
      <li>
        <router-link to="/opening4"><button>Opening 4</button></router-link>
      </li>
      <li>
        <router-link to="/opening5"><button>Opening 5</button></router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Home',
}
</script>

<style>
/* Style généraux */
#home {
  text-align: center;
}
#home ul {
  list-style-type: none;
}
#home ul li {
  margin: 30px 0;
}

/* Version Téléphone */
#home ul li button {
  font-family: "Ace";
  font-size: 2em;
  color: rgb(201, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 30px;
  padding: 10px 50px;
  margin: 10px 0;
}

/* Version Tablette */
@media screen and (min-width: 768px) {
  #home ul li button {
    font-size: 2.5em;
  }
}

/* Version Desktop */
@media screen and (min-width: 1024px) {
  #home ul li button {
    font-size: 3em;
  }
  #home ul li button:hover {
    background-color: rgb(201, 0, 0);
    color: white;
  }
}
</style>