<template>
    <div id="op5">
        <section class="nav">
            <button class="oplist" @click="showOp">Afficher la liste des Openings</button>
            <ul v-show="nav === 1">
                <li>
                    <router-link to="/opening1"><button>Opening 1</button></router-link>
                </li>
                <li>
                    <router-link to="/opening2"><button>Opening 2</button></router-link>
                </li>
                <li>
                    <router-link to="/opening3"><button>Opening 3</button></router-link>
                </li>
                <li>
                    <router-link to="/opening4"><button>Opening 4</button></router-link>
                </li>
                <li>
                    <router-link to="/opening5"><button>Opening 5</button></router-link>
                </li>
            </ul>
        </section>

        <section class="informations">
            <h3>Informations sur la musique :</h3>
            <p>Titre: {{ title }}</p>
            <p>Artiste: {{ artist }}</p>
            <p>Compositeur: {{ compositeur }}</p>
            <p>Année: {{ year }} </p>
        </section>

        <section class="music">
            <article class="audio">
                <button v-if="!isPlaying" @click="play"><font-awesome-icon :icon="['fas', 'play']" /></button>
                <button v-else @click="pause"><font-awesome-icon :icon="['fas', 'pause']" /></button>
                <img :src="image">
            </article>

            
            <article class="video">
                <button @click="showVid">Voir la video</button>
                <video v-show="show === 1" width="600px" controls :src="video"></video>
            </article>
        </section>

        <section class="lyrics">
            <article class="jap">
                <h4>Paroles VO :</h4>
                <p>
                    Ano hi jinrui wa omoidashita
                    <br>
                    Usuyami no naka susumu kage wa daremo kokoromotonaku
                    <br>
                    Futashika na mirai wa itsudatte hakuhyou no ue ni saku
                    <br>
                    Yoru wa otozureru tabi ni hito wo
                    <br>
                    Tsumetai te de ore tachi no kubisuji wo yasashiku nadeta
                    <br>
                    Tasogare wo uragitte tomoru kibou no se ni sugari
                    <br>
                    Oikaketa jigoku e to mukatteiru to shitte mo
                    <br>
                    Yume no tsuzuki ga mitai nara omae wa nani wo sashidaseru ?
                    <br>
                    Akuma wa amaku sasayaita shikabane de michi wo tsukure
                    <br>
                    Kono kabe no mukou ni nani ga aru osanaki hibi ni akogareta
                    <br>
                    Shinjitsu sugu soko ni aru shikabane no michi no saki ni
                    <br>
                    Yumiya ga kakenuketa kiseki tsubasa wo chirashite
                    <br>
                    Shinzou wo tabanete mo REKUIEMU ni wa hayasugiru
                    <br>
                    Taiyou wa mada shizundeinai no dakara
                    <br>
                    Susumi tsuzukeru nami no kanata e
                </p>
            </article>

            <article class="fr">
                <h4>Paroles VF :</h4>
                <p>
                    Ce jour-là, l'humanité s'en est souvenue....
                    <br>
                    Les ombres qui avancent dans la pénombre sont toutes troublées.
                    <br>
                    L'avenir incertain a toujours fleuri sur une fine couche de glace
                    <br>
                    Chaque fois que la nuit tombait, 
                    <br>
                    Nos coeurs étaient doucement caressés par des mains glacées, à maintes reprises.
                    <br>
                    En trahissant le crépuscule, nous nous accrochions à l'aube qui se levait.
                    <br>
                    Nous l'avions pourchassé, en sachant déjà que nous allions droit en Enfer
                    <br>
                    "Si vous vouez voir vos rêves s'exhausser, que seriez-vous prêts à offrir ?"
                    <br>
                    Le Démon susurra, "Faites place à tous ces corps sur tombés au champ de bataille.".
                    <br>
                    "Qu'y a t-il de l'autre côté de ce mur ?"
                    <br>
                    Cette question nous hante depuis que nous sommes noyés dans l'enfance
                    <br>
                    La vérité se dresse juste là, tout au bout de notre chemin...
                    <br>
                    Le sentier sur lequel les arcs et les flèches ensanglantés sillonnent,
                    <br>
                    Emplit votre détermination à vous emparer des ailes de la liberté
                    <br>
                    Même si vous devez dissimuler votre coeur accablé d'un lourd fardeau
                    <br>
                    Il est bien trop tôt pour que l'Aube de Requiem voit le jour,
                    <br>
                    Car le soleil ne s'est pas encore couché....
                    <br>
                    Continuez d'aller au-delà, bien au delà des ténèbres...
                </p>
            </article>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Opening_4",
        data() {
            return {
                //Informations sur la musique
                title: "Shoukei to Shikabane no Michi",
                artist: "Linked Horizon",
                compositeur: "Revo",
                year: 2019,
                //Insertion de l'image
                image: require('../assets/images/Shingeki no Kyojin saison 3 partie 2.jpg'),
                //Insertion de la video
                video: require('../assets/video/Shingeki no Kyojin Opening 5.mp4'),
                //Insertion de l'audio
                song: require('../assets/audio/Shingeki no Kyojin Opening 5.mp3'),
                //Indication si la chanson est en cours de lecture ou non
                isPlaying: false,
                //Variable permettant d'afficher la liste des Openings
                nav: 0,
                //Variable permettant d'afficher la vidéo
                show: 0,
                //Ajout de l'objet permettant de jouer l'audio
                player: new Audio()
            }
        },
        methods: {
            //Fonction permettant de lire la musique
            play() {
                this.player.play();
                this.isPlaying = true;
            },
            //Fonction permettant de mettre en pause la musique
            pause() {
                this.player.pause();
                this.isPlaying = false;
            },
            showVid() {
                this.show = 1;
            },
            showOp() {
                this.nav = 1;            
            }
        },
        created() {
            //Définition de la source de l'objet audio
            this.player.src = this.song;
        }
    }
</script>

<style>
/* Style généraux */
#op5 .nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#op5 .nav ul li {
    margin: 15px 30px;
}

/* Version Téléphone */
#op5 .nav .oplist {
    font-family: "Ace";
    font-size: 1.9em;
    color: rgb(201, 0, 0);
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}
#op5 .nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#op5 .nav ul li button {
    font-family: 'Ace';
    font-size: 1.5em;
    color: rgb(201, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
#op5 .informations {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
    padding: 20px 0;
}
#op5 .informations h3 {
    margin: 10px 0;
    font-family: "Akodia";
    font-size: 2.5em;
    color: rgb(201, 0, 0);
}
#op5 .informations p {
    font-family: "Gondola";
    font-size: 1em;
    margin: 10px 0;
}
#op5 .music {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
#op5 .music article, #op5 .lyrics article {
    text-align: center;
}
#op5 .music .audio, #op5 .music .video {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
}
#op5 .music .audio button {
    background-color: rgb(38, 160, 87);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
}
#op5 .music .audio img {
    width: 150px;
}
#op5 .music .video button {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(201, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
}
#op5 .music .video video {
    width: 350px;
}
#op5 .lyrics {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-family: "Gondola";
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
#op5 .lyrics article h4 {
    font-size: 2em;
    color: rgb(201, 0, 0);
}
#op5 .lyrics .jap {
    display: none;
}

/* Version Tablette */
@media screen and (min-width: 768px) {
    #op5 .nav ul {
        flex-flow: row wrap;
    }
    #op5 .music, #op5 .lyrics {
        flex-flow: row wrap;
    }
    #op5 .music article, #op5 .lyrics article {
        width: 45%;
        margin: 2%;
    }
    #op5 .music .audio img {
        width: 200px;
    }
    #op5 .lyrics .jap {
        display: block;
    }
}

/* Version Desktop */
@media screen and (min-width: 1024px) {
    #op5 .nav .oplist {
        font-size: 2em;
    }
    #op5 .nav ul li button:hover {
        color: white;
        background-color: rgb(201, 0, 0);
    }
    #op5 .informations h3 {
        font-size: 3.5em;
    }
    #op5 .informations p {
        font-size: 1.3em;
    }
    #op5 .music .audio img {
        width: 300px;
    }
    #op5 .music .video button {
        font-size: 1.3em;
    }
    #op5 .music .video video {
        width: 700px;
    }
}
</style>