<template>
    <div id="op2">
        <section class="nav">
            <button class="oplist" @click="showOp">Afficher la liste des Openings</button>
            <ul v-show="nav === 1">
                <li>
                    <router-link to="/opening1"><button>Opening 1</button></router-link>
                </li>
                <li>
                    <router-link to="/opening2"><button>Opening 2</button></router-link>
                </li>
                <li>
                    <router-link to="/opening3"><button>Opening 3</button></router-link>
                </li>
                <li>
                    <router-link to="/opening4"><button>Opening 4</button></router-link>
                </li>
                <li>
                    <router-link to="/opening5"><button>Opening 5</button></router-link>
                </li>
            </ul>
        </section>

        <section class="informations">
            <h3>Informations sur la musique :</h3>
            <p>Titre: {{ title }}</p>
            <p>Artiste: {{ artist }}</p>
            <p>Compositeur: {{ compositeur }}</p>
            <p>Année: {{ year }} </p>
        </section>

        <section class="music">
            <article class="audio">
                <button v-if="!isPlaying" @click="play"><font-awesome-icon :icon="['fas', 'play']" /></button>
                <button v-else @click="pause"><font-awesome-icon :icon="['fas', 'pause']" /></button>
                <img :src="image">
            </article>

            
            <article class="video">
                <button @click="showVid">Voir la video</button>
                <video v-show="show === 1" width="600px" controls :src="video"></video>
            </article>
        </section>

        <section class="lyrics">
            <article class="jap">
                <h4>Paroles VO :</h4>
                <p>
                    Wohlan Freund !
                    <br>
                    Jetzt hier ist ein Sieg.
                    <br>
                    Dies ist der erste Gloria.
                    <br>
                    O, mein Freund !
                    <br>
                    Feiern wir diesen Sieg Für den nächsten Kampf !
                    <br>
                    "Muimi na shi de atta to"
                    <br>
                    Iwasenai saigo no hitori ni naru made...
                    <br>
                    Der feind ist grausam... Wir bringen...
                    <br>
                    Der feind ist riesig... Wir springen...
                    <br>
                    Ryoute ni wa Gloria, utau no wa Sieg 
                    <br>
                    Senaka ni wa Flügel der Freiheit
                    <br>
                    Nigirishimeta ketsui wo inari mune ni 
                    <br>
                    Kirisaku no wa Ringen der Torheit 
                    <br>
                    Soukyuu wo mau
                    <br>
                    Flügel der Freiheit
                </p>
            </article>

            <article class="fr">
                <h4>Paroles VF :</h4>
                <p>
                    Admire, mon ami !
                    <br>
                    Nous venons enfin de gagner la bataille.
                    <br>
                    C'est notre première gloire !
                    <br>
                    Alors, mon ami !
                    <br>
                    Célébrons cette victoire et préparons-nous à la prochaine bataille !
                    <br>
                    "Personne ne meurt en vain".
                    <br>
                    Personne ne peut dire le contraire. Nous combattrons jusqu'à la dernière flèche.
                    <br>
                    Nos ennemis seront barbares... Mais nous les vaincrons...
                    <br>
                    Nos ennemis seront clolossaux... Mais nous les surmonterons...
                    <br>
                    Nous brandirons nos armes avec gloire et chanterons au nom de la victoire.
                    <br>
                    Nous porterons les Alies de la Liberté.
                    <br>
                    Jurons sur nos coeurs
                    <br>
                    et faisons tomber le Seigneur de la Cruauté.
                    <br>
                    Survolons le ciel grâce aux...
                    <br>
                    Ailes de la liberté !
                </p>
            </article>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Opening_2",
        data() {
            return {
                //Informations sur la musique
                title: "Jiyuu no Tsubasa",
                artist: "Linked Horizon",
                compositeur: "Revo",
                year: 2013,
                //Insertion de l'image
                image: require('../assets/images/Shingeki no Kyojin.jpg'),
                //Insertion de la video
                video: require('../assets/video/Shingeki no Kyojin Opening 2.mp4'),
                //Insertion de l'audio
                song: require('../assets/audio/Shingeki no Kyojin Opening 2.mp3'),
                //Indication si la chanson est en cours de lecture ou non
                isPlaying: false,                
                //Variable permettant d'afficher la liste des Openings
                nav: 0,
                //Variable permettant d'afficher la vidéo
                show: 0,
                //Ajout de l'objet permettant de jouer l'audio
                player: new Audio()
            }
        },
        methods: {
            //Fonction permettant de lire la musique
            play() {
                this.player.play();
                this.isPlaying = true;
            },
            //Fonction permettant de mettre en pause la musique
            pause() {
                this.player.pause();
                this.isPlaying = false;
            },
            showVid() {
                this.show = 1;
            },
            showOp() {
                this.nav = 1;            
            }
        },
        created() {
            //Définition de la source de l'objet audio
            this.player.src = this.song;
        }
    }
</script>

<style>
/* Style généraux */
#op2 .nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#op2 .nav ul li {
    margin: 15px 30px;
}

/* Version Téléphone */
#op2 .nav .oplist {
    font-family: "Ace";
    font-size: 1.9em;
    color: rgb(201, 0, 0);
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}
#op2 .nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#op2 .nav ul li button {
    font-family: 'Ace';
    font-size: 1.5em;
    color: rgb(201, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
#op2 .informations {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
    padding: 20px 0;
}
#op2 .informations h3 {
    margin: 10px 0;
    font-family: "Akodia";
    font-size: 2.5em;
    color: rgb(201, 0, 0);
}
#op2 .informations p {
    font-family: "Gondola";
    font-size: 1em;
    margin: 10px 0;
}
#op2 .music {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
#op2 .music article, #op2 .lyrics article {
    text-align: center;
}
#op2 .music .audio, #op2 .music .video {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
}
#op2 .music .audio button {
    background-color: rgb(38, 160, 87);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
}
#op2 .music .audio img {
    width: 150px;
}
#op2 .music .video button {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(201, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
}
#op2 .music .video video {
    width: 350px;
}
#op2 .lyrics {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-family: "Gondola";
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
#op2 .lyrics article h4 {
    font-size: 2em;
    color: rgb(201, 0, 0);
}
#op2 .lyrics .jap {
    display: none;
}

/* Version Tablette */
@media screen and (min-width: 768px) {
    #op2 .nav ul {
        flex-flow: row wrap;
    }
    #op2 .music, #op2 .lyrics {
        flex-flow: row wrap;
    }
    #op2 .music article, #op2 .lyrics article {
        width: 45%;
        margin: 2%;
    }
    #op2 .music .audio img {
        width: 200px;
    }
    #op2 .lyrics .jap {
        display: block;
    }
}

/* Version Desktop */
@media screen and (min-width: 1024px) {
    #op2 .nav .oplist {
        font-size: 2em;
    }
    #op2 .nav ul li button:hover {
        color: white;
        background-color: rgb(201, 0, 0);
    }
    #op2 .informations h3 {
        font-size: 3.5em;
    }
    #op2 .informations p {
        font-size: 1.3em;
    }
    #op2 .music .audio img {
        width: 300px;
    }
    #op2 .music .video button {
        font-size: 1.3em;
    }
    #op2 .music .video video {
        width: 700px;
    }
}
</style>