<template>
    <div id="op4">
        <section class="nav">
            <button class="oplist" @click="showOp">Afficher la liste des Openings</button>
            <ul v-show="nav === 1">
                <li>
                    <router-link to="/opening1"><button>Opening 1</button></router-link>
                </li>
                <li>
                    <router-link to="/opening2"><button>Opening 2</button></router-link>
                </li>
                <li>
                    <router-link to="/opening3"><button>Opening 3</button></router-link>
                </li>
                <li>
                    <router-link to="/opening4"><button>Opening 4</button></router-link>
                </li>
                <li>
                    <router-link to="/opening5"><button>Opening 5</button></router-link>
                </li>
            </ul>
        </section>

        <section class="informations">
            <h3>Informations sur la musique :</h3>
            <p>Titre: {{ title }}</p>
            <p>Artiste: {{ artist }}</p>
            <p>Compositeur: {{ compositeur }}</p>
            <p>Année: {{ year }} </p>
        </section>

        <section class="music">
            <article class="audio">
                <button v-if="!isPlaying" @click="play"><font-awesome-icon :icon="['fas', 'play']" /></button>
                <button v-else @click="pause"><font-awesome-icon :icon="['fas', 'pause']" /></button>
                <img :src="image">
            </article>

            
            <article class="video">
                <button @click="showVid">Voir la video</button>
                <video v-show="show === 1" width="600px" controls :src="video"></video>
            </article>
        </section>

        <section class="lyrics">
            <article class="jap">
                <h4>Paroles VO :</h4>
                <p>
                    Like the sky at night
                    <br>
                    There in the dark
                    <br>
                    You can hide your fear
                    <br>
                    Can lie my dear
                    <br>
                    Kono mama
                    <br>
                    Yume o mite
                    <br>
                    Chi-darake no tsubasa
                    <br>
                    Hirogete
                    <br>
                    (What's the lie ?)
                    <br>
                    (What's the truth ?)
                    <br>
                    (What to believe ?)
                    <br>
                    Like a fallen angel
                    <br>
                    Toki no kaze ni
                    <br>
                    Nagasarete ochite iku
                    <br>
                    Into the starry night
                    <br>
                    Megami no yo ni
                    <br>
                    Dakishimete eien o
                    <br>
                    Fly to heaven
                </p>
            </article>

            <article class="fr">
                <h4>Paroles VF :</h4>
                <p>
                    Comme le ciel de nuit,
                    <br>
                    Là dans l'oscurité,
                    <br>
                    Tu peux cacher ta peur,
                    <br>
                    peux mentir mon cher.
                    <br>
                    Reste sur ton chemin.
                    <br>
                    Imagines tes rêves.
                    <br>
                    Répartis tes ailes
                    <br>
                    qui sont trempées dans le sang.
                    <br>
                    (Quel est le mensonge ?)
                    <br>
                    (Quelle est la vérité ?)
                    <br>
                    (Que croire ?)
                    <br>
                    Comme un ange déchu
                    <br>
                    poussé par les vents du temps
                    <br>
                    Et descends
                    <br>
                    dans la nuit étoilée.
                    <br>
                    Embrasse-moi comme une déesse
                    <br>
                    et porte l'éternité comme toi.
                    <br>
                    Vol au Paradis.
                </p>
            </article>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Opening_4",
        data() {
            return {
                //Informations sur la musique
                title: "Red Swan",
                artist: "YOSHIKI",
                compositeur: "YOSHIKI",
                year: 2018,
                //Insertion de l'image
                image: require('../assets/images/Shingeki no Kyojin saison 3.jpg'),
                //Insertion de la video
                video: require('../assets/video/Shingeki no Kyojin Opening 4.mp4'),
                //Insertion de l'audio
                song: require('../assets/audio/Shingeki no Kyojin Opening 4.mp3'),
                //Indication si la chanson est en cours de lecture ou non
                isPlaying: false,
                //Variable permettant d'afficher la liste des Openings
                nav: 0,
                //Variable permettant d'afficher la vidéo
                show: 0,
                //Ajout de l'objet permettant de jouer l'audio
                player: new Audio()
            }
        },
        methods: {
            //Fonction permettant de lire la musique
            play() {
                this.player.play();
                this.isPlaying = true;
            },
            //Fonction permettant de mettre en pause la musique
            pause() {
                this.player.pause();
                this.isPlaying = false;
            },
            showVid() {
                this.show = 1;
            },
            showOp() {
                this.nav = 1;            
            }
        },
        created() {
            //Définition de la source de l'objet audio
            this.player.src = this.song;
        }
    }
</script>

<style>
/* Style généraux */
#op4 .nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#op4 .nav ul li {
    margin: 15px 30px;
}

/* Version Téléphone */
#op4 .nav .oplist {
    font-family: "Ace";
    font-size: 1.9em;
    color: rgb(201, 0, 0);
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}
#op4 .nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#op4 .nav ul li button {
    font-family: 'Ace';
    font-size: 1.5em;
    color: rgb(201, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
#op4 .informations {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
    padding: 20px 0;
}
#op4 .informations h3 {
    margin: 10px 0;
    font-family: "Akodia";
    font-size: 2.5em;
    color: rgb(201, 0, 0);
}
#op4 .informations p {
    font-family: "Gondola";
    font-size: 1em;
    margin: 10px 0;
}
#op4 .music {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
#op4 .music article, #op4 .lyrics article {
    text-align: center;
}
#op4 .music .audio, #op4 .music .video {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
}
#op4 .music .audio button {
    background-color: rgb(38, 160, 87);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
}
#op4 .music .audio img {
    width: 150px;
}
#op4 .music .video button {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(201, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
}
#op4 .music .video video {
    width: 350px;
}
#op4 .lyrics {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-family: "Gondola";
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
#op4 .lyrics article h4 {
    font-size: 2em;
    color: rgb(201, 0, 0);
}
#op4 .lyrics .jap {
    display: none;
}

/* Version Tablette */
@media screen and (min-width: 768px) {
    #op4 .nav ul {
        flex-flow: row wrap;
    }
    #op4 .music, #op4 .lyrics {
        flex-flow: row wrap;
    }
    #op4 .music article, #op4 .lyrics article {
        width: 45%;
        margin: 2%;
    }
    #op4 .music .audio img {
        width: 200px;
    }
    #op4 .lyrics .jap {
        display: block;
    }
}

/* Version Desktop */
@media screen and (min-width: 1024px) {
    #op4 .nav .oplist {
        font-size: 2em;
    }
    #op4 .nav ul li button:hover {
        color: white;
        background-color: rgb(201, 0, 0);
    }
    #op4 .informations h3 {
        font-size: 3.5em;
    }
    #op4 .informations p {
        font-size: 1.3em;
    }
    #op4 .music .audio img {
        width: 300px;
    }
    #op4 .music .video button {
        font-size: 1.3em;
    }
    #op4 .music .video video {
        width: 700px;
    }
}
</style>