<template>
    <div id="op1">
        <section class="nav">
            <button class="oplist" @click="showOp">Afficher la liste des Openings</button>
            <ul v-show="nav === 1">
                <li>
                    <router-link to="/opening1"><button>Opening 1</button></router-link>
                </li>
                <li>
                    <router-link to="/opening2"><button>Opening 2</button></router-link>
                </li>
                <li>
                    <router-link to="/opening3"><button>Opening 3</button></router-link>
                </li>
                <li>
                    <router-link to="/opening4"><button>Opening 4</button></router-link>
                </li>
                <li>
                    <router-link to="/opening5"><button>Opening 5</button></router-link>
                </li>
            </ul>
        </section>

        <section class="informations">
            <h3>Informations sur la musique :</h3>
            <p>Titre: {{ title }}</p>
            <p>Artiste: {{ artist }}</p>
            <p>Compositeur: {{ compositeur }}</p>
            <p>Année: {{ year }} </p>
        </section>

        <section class="music">
            <article class="audio">
                <button v-if="!isPlaying" @click="play"><font-awesome-icon :icon="['fas', 'play']" /></button>
                <button v-else @click="pause"><font-awesome-icon :icon="['fas', 'pause']" /></button>
                <img :src="image">
            </article>

            
            <article class="video">
                <button @click="showVid">Voir la video</button>
                <video v-show="show === 1" width="600px" controls :src="video"></video>
            </article>
        </section>


        <section class="lyrics">
            <article  class="jap">
                <h4>Paroles VO :</h4>
                <p>
                    Seid ihr das Essen ?
                    <br>
                    Nein, wir sind der Jäger !
                    <br>
                    Angriff auf Titan! x2
                    <br>
                    Fumareta hana no namae mo shirazuni
                    <br>
                    Chi ni ochita tori wa kaze wo machiwabiru
                    <br>
                    Inotta tokoro de nanimo kawaranai
                    <br>
                    Ima wo kaeru no wa tatakau kakugo da…
                    <br>
                    Shikabane de fumikoetes usumu ishi wo warau buta yo
                    <br>
                    Kachiku no annei… Kyogi no han'ei…
                    <br>
                    Shiseru garou no "jiyuu" wo !
                    <br>
                    Torawareta kutsujoku wa hangeki no kobushi da
                    <br>
                    Jouheki no sono kanata emono wo hofuru jäger
                    <br>
                    Hotobashiru shoudou ni sono mi wo yakinagara
                    <br>
                    Tasogare ni hi wo ugatsu guren no yumiya
                    <br>
                    Angriff auf Titan! x3
                </p>
            </article>

            <article class="fr">
                <h4>Paroles VF :</h4>
                <p>
                    Êtes-vous les proies ?
                    <br>
                    Non, nous sommes les chasseurs !
                    <br>
                    L'attaque des Titans ! x2
                    <br>
                    Ignorant le nom des fleurs écrasées,
                    <br>
                    Les oiseaux tombés au sol attendent impatiemment le vent.
                    <br>
                    Peu importe combien vous priez, rien ne changera
                    <br>
                    Ce qui changera cette situation déplorable, c'est la résolution à combattre…
                    <br>
                    Vous, porcs qui riez de la volonté de piétiner des cadavres et d'aller de l'avant,
                    <br>
                    Vivez paisiblement omme le bétail... Dans cette fausse prospérité...
                    <br>
                    Vous êtres aussi libre que des loups affamés !
                    <br>
                    L'humiliation de le captivité est le début de la contre-attaque.
                    <br>
                    au delà de ces murs, les proies se font tuer par les chasseurs.
                    <br>
                    Alors qu'une envie de de tuer brûle leurs corps,
                    <br>
                    Ils transpercent l'écarlate crépuscule avec un arc et une flèche cramoisie.
                    <br>
                    L'attaque des Titans ! x3
                </p>
            </article>
        </section>      
    </div>
</template>

<script>
    export default {
        name: "Opening_1",
        data() {
            return {
                //Informations sur la musique
                title: "Guren no Yumiya",
                artist: "Linked Horizon",
                compositeur: "Revo",
                year: 2013,
                //Insertion de l'image
                image: require('../assets/images/Shingeki no Kyojin.jpg'),
                //Insertion de la video
                video: require('../assets/video/Shingeki no Kyojin Opening 1.mp4'),
                //Insertion de l'audio
                song: require('../assets/audio/Shingeki no Kyojin Opening 1.mp3'),
                //Indication si la chanson est en cours de lecture ou non
                isPlaying: false,
                //Variable permettant d'afficher la liste des Openings
                nav: 0,
                //Variable permettant d'afficher la vidéo
                show: 0,
                //Variable permettant d'afficher les paroles en VO
                lyricsVO: 0,
                //Variable permettant d'afficher les paroles en VF
                lyricsVF: 0,
                lyrics: 1,
                //Ajout de l'objet permettant de jouer l'audio
                player: new Audio()
            }
        },
        methods: {
            //Fonction permettant de lire la musique
            play() {
                this.player.play();
                this.isPlaying = true;
            },
            //Fonction permettant de mettre en pause la musique
            pause() {
                this.player.pause();
                this.isPlaying = false;
            },
            showVid() {
                this.show = 1;
                this.nav = 0;
            },
            showOp() {
                this.nav = 1;
                this.show = 0;
            }
        },
        created() {
            //Définition de la source de l'objet audio
            this.player.src = this.song;
        },
    }
</script>

<style>
/* Style généraux */
#op1 .nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#op1 .nav ul li {
    margin: 15px 30px;
}

/* Version Téléphone */
#op1 .nav .oplist {
    font-family: "Ace";
    font-size: 1.9em;
    color: rgb(201, 0, 0);
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}
#op1 .nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#op1 .nav ul li button {
    font-family: 'Ace';
    font-size: 1.5em;
    color: rgb(201, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
#op1 .informations {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
    padding: 20px 0;
}
#op1 .informations h3 {
    margin: 10px 0;
    font-family: "Akodia";
    font-size: 2.5em;
    color: rgb(201, 0, 0);
}
#op1 .informations p {
    font-family: "Gondola";
    font-size: 1em;
    margin: 10px 0;
}
#op1 .music {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
#op1 .music article, #op1 .lyrics article {
    text-align: center;
}
#op1 .music .audio, #op1 .music .video {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
}
#op1 .music .audio button {
    background-color: rgb(38, 160, 87);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
}
#op1 .music .audio img {
    width: 150px;
}
#op1 .music .video button {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(201, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
}
#op1 .music .video video {
    width: 350px;
}
#op1 .lyrics {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-family: "Gondola";
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
#op1 .lyrics article h4 {
    font-size: 2em;
    color: rgb(201, 0, 0);
}
#op1 .lyrics .jap {
    display: none;
}

/* Version Tablette */
@media screen and (min-width: 768px) {
    #op1 .nav ul {
        flex-flow: row wrap;
    }
    #op1 .music, #op1 .lyrics {
        flex-flow: row wrap;
    }
    #op1 .music article, #op1 .lyrics article {
        width: 45%;
        margin: 2%;
    }
    #op1 .music .audio img {
        width: 200px;
    }
    #op1 .lyrics .jap {
        display: block;
    }
}

/* Version Desktop */
@media screen and (min-width: 1024px) {
    #op1 .nav .oplist {
        font-size: 2em;
    }
    #op1 .nav ul li button:hover {
        color: white;
        background-color: rgb(201, 0, 0);
    }
    #op1 .informations h3 {
        font-size: 3.5em;
    }
    #op1 .informations p {
        font-size: 1.3em;
    }
    #op1 .music .audio img {
        width: 300px;
    }
    #op1 .music .video button {
        font-size: 1.3em;
    }
    #op1 .music .video video {
        width: 700px;
    }
}
</style>