<template>
    <div id="op3">
        <section class="nav">
            <button class="oplist" @click="showOp">Afficher la liste des Openings</button>
            <ul v-show="nav === 1">
                <li>
                    <router-link to="/opening1"><button>Opening 1</button></router-link>
                </li>
                <li>
                    <router-link to="/opening2"><button>Opening 2</button></router-link>
                </li>
                <li>
                    <router-link to="/opening3"><button>Opening 3</button></router-link>
                </li>
                <li>
                    <router-link to="/opening4"><button>Opening 4</button></router-link>
                </li>
                <li>
                    <router-link to="/opening5"><button>Opening 5</button></router-link>
                </li>
            </ul>
        </section>

        <section class="informations">
            <h3>Informations sur la musique :</h3>
            <p>Titre: {{ title }}</p>
            <p>Artiste: {{ artist }}</p>
            <p>Compositeur: {{ compositeur }}</p>
            <p>Année: {{ year }} </p>
        </section>

        <section class="music">
            <article class="audio">
                <button v-if="!isPlaying" @click="play"><font-awesome-icon :icon="['fas', 'play']" /></button>
                <button v-else @click="pause"><font-awesome-icon :icon="['fas', 'pause']" /></button>
                <img :src="image">
            </article>

            
            <article class="video">
                <button @click="showVid">Voir la video</button>
                <video v-show="show === 1" width="600px" controls :src="video"></video>
            </article>
        </section>

        <section class="lyrics">
            <article class="jap">
                <h4>Paroles VO :</h4>
                <p>
                    Kore ijou no jigoku wa nai darou to shinjitakatta
                    <br>
                    Saredo jinrui saiaku no hi wa itsumo toutotsu ni
                    <br>
                    Tobira wo tataku oto wa taezu hidoku busahou ni
                    <br>
                    Manekarezaru saiaku no hi wa akumu no you ni
                    <br>
                    Sugishi hi wo uragiru mono yatsura wa kuchiku subeki teki da
                    <br>
                    Ano hi donna kao ni hitomi de ore-tachi wo mitsumeteita
                    <br>
                    Nani wo sutereba akuma wo oshinokeru ?
                    <br>
                    Inochi sae tamashii sae kesshite oshiku koenai
                    <br>
                    Sasageyo ! Sasageyo ! Shinzou wo sasageyo !
                    <br>
                    Subete no gisei wa ima kono toki no tame ni
                    <br>
                    Sasageyo ! Sasageyo ! Shinzou wo sasageyo !
                    <br>
                    Susumu-beki mirai wo sono te de kirihirake !
                </p>
            </article>

            <article class="fr">
                <h4>Paroles VF :</h4>
                <p>
                    Je voulais croire qu'il ne pouvait pas exister d'enfer plus terrible que celui-ci
                    <br>
                    Mais malgré tout, le jour le plus sombre de l'humanité est soudain arrivé.
                    <br>
                    Inéluctablement, un grondement d'une cruelle brutalité a martelé à nos portes.
                    <br>
                    Le jour le plus sombre qui s'est invité sans crier gare dans nos vies est comme un cauchemar...
                    <br>
                    Ceux qui nous ont jadis trahis sont les ennemis que nous devons exterminer !
                    <br>
                    Ce jour-là, avec quelle expression nous observaient-ils à travers leurs yeux ?
                    <br>
                    À quoi devons-nous renoncer afin de repousser le mal,
                    <br>
                    Si ni nos vies ni nos âmes ne suffisent à en payer le prix ?
                    <br>
                    Dévouons-nous ! Dévouons-nous ! Dévouons-nous corps et âme !
                    <br>
                    Tous les sacrifices serviront le bien de ce seul instant.
                    <br>
                    Dévouons-nous ! Dévouons-nous ! Dévouons-nous corps et âme !
                    <br>
                    Frayons-nous de nos propres mains un chemin vers l'avenir auquel nous aspirons !
                </p>
            </article>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Opening_3",
        data() {
            return {
                //Informations sur la musique
                title: "Shinzou wo Sasageyo!",
                artist: "Linked Horizon",
                compositeur: "Revo",
                year: 2017,
                //Insertion de l'image
                image: require('../assets/images/Shingeki no Kyojin saison 2.jpg'),
                //Insertion de la video
                video: require('../assets/video/Shingeki no Kyojin Opening 3.mp4'),
                //Insertion de l'audio
                song: require('../assets/audio/Shingeki no Kyojin Opening 3.mp3'),
                //Indication si la chanson est en cours de lecture ou non
                isPlaying: false,
                //Variable permettant d'afficher la liste des Openings
                nav: 0,
                //Variable permettant d'afficher la vidéo
                show: 0,
                //Ajout de l'objet permettant de jouer l'audio
                player: new Audio()
            }
        },
        methods: {
            //Fonction permettant de lire la musique
            play() {
                this.player.play();
                this.isPlaying = true;
            },
            //Fonction permettant de mettre en pause la musique
            pause() {
                this.player.pause();
                this.isPlaying = false;
            },
            showVid() {
                this.show = 1;
            },
            showOp() {
                this.nav = 1;            
            }
        },
        created() {
            //Définition de la source de l'objet audio
            this.player.src = this.song;
        }
    }
</script>

<style>
/* Style généraux */
#op3 .nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#op3 .nav ul li {
    margin: 15px 30px;
}

/* Version Téléphone */
#op3 .nav .oplist {
    font-family: "Ace";
    font-size: 1.9em;
    color: rgb(201, 0, 0);
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}
#op3 .nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#op3 .nav ul li button {
    font-family: 'Ace';
    font-size: 1.5em;
    color: rgb(201, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
#op3 .informations {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
    padding: 20px 0;
}
#op3 .informations h3 {
    margin: 10px 0;
    font-family: "Akodia";
    font-size: 2.5em;
    color: rgb(201, 0, 0);
}
#op3 .informations p {
    font-family: "Gondola";
    font-size: 1em;
    margin: 10px 0;
}
#op3 .music {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
#op3 .music article, #op3 .lyrics article {
    text-align: center;
}
#op3 .music .audio, #op3 .music .video {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
}
#op3 .music .audio button {
    background-color: rgb(38, 160, 87);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
}
#op3 .music .audio img {
    width: 150px;
}
#op3 .music .video button {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(201, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
}
#op3 .music .video video {
    width: 350px;
}
#op3 .lyrics {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-family: "Gondola";
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
#op3 .lyrics article h4 {
    font-size: 2em;
    color: rgb(201, 0, 0);
}
#op3 .lyrics .jap {
    display: none;
}

/* Version Tablette */
@media screen and (min-width: 768px) {
    #op3 .nav ul {
        flex-flow: row wrap;
    }
    #op3 .music, #op3 .lyrics {
        flex-flow: row wrap;
    }
    #op3 .music article, #op3 .lyrics article {
        width: 45%;
        margin: 2%;
    }
    #op3 .music .audio img {
        width: 200px;
    }
    #op3 .lyrics .jap {
        display: block;
    }
}

/* Version Desktop */
@media screen and (min-width: 1024px) {
    #op3 .nav .oplist {
        font-size: 2em;
    }
    #op3 .nav ul li button:hover {
        color: white;
        background-color: rgb(201, 0, 0);
    }
    #op3 .informations h3 {
        font-size: 3.5em;
    }
    #op3 .informations p {
        font-size: 1.3em;
    }
    #op3 .music .audio img {
        width: 300px;
    }
    #op3 .music .video button {
        font-size: 1.3em;
    }
    #op3 .music .video video {
        width: 700px;
    }
}
</style>