<template>
  <div id="app">
    <header>
      <img src="../src/assets/images/Logo SNK.png">
      <router-link to="/"><h1>Shingeki no Kyojin</h1></router-link>
    </header>

    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
  export default {
    name: 'App',
    components: {
    }
  }
</script>

<style>
/* Appel des polices */
@font-face {
  font-family: "Ace";
  src: url("../src/assets/fonts/Ace Records.ttf");
}
@font-face {
  font-family: "Akodia";
  src: url("../src/assets/fonts/Akodia.ttf");
}
@font-face {
  font-family: "Gondola";
  src: url("../src/assets/fonts/Gondola SD.ttf");
}

/* Styles généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  background-image: url('../src/assets/images/Fond SNK.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 160rem;
}

/* Version Téléphone */
#app header {
  text-align: center;
  padding: 30px 0;
}
#app header img {
  width: 300px;
}
#app a {
  text-decoration: none;
}
#app header h1 {
  font-family: "Ace";
  font-size: 3em;
  color: rgb(201, 0, 0);
  margin: 20px 0;
}

/* Version Tablette */
@media screen and (min-width: 768px) {
  #app header img {
    width: 500px;
  }
  #app header h1 {
    font-size: 4em;
  }
}

/* Version Dekstop */
@media screen and (min-width: 1024px) {
  #app header img {
    width: 600px;
  }
  #app header h1 {
    font-size: 5em;
  }
}
</style>